:root{
--primary-color: #333333;
--secondary-color: #faf9f6;
--error: red;
--success: #13d813;

--background: black;
}

:root.dark-theme{
    --primary-color: #faf9f6;
    --secondary-color: #333333;
    --error: red;
    --success: #13d813;

    --background: #F2F2F2;
}